<html>

<body>
    <form action="/cadastrar" method="post">
        Name: <input type="text" value="{{name}}" disabled /></br>
        Email: <input type="text" value="{{email}}" disabled /></br>
        Telefone: <input type="text" name="name" /></br>

        Rua: <input type="text" name="name" /></br>
        Bairro: <input type="text" /></br>
        Cep: <input type="text" name="cep" /></br>
        Estado:<input type="text" name="estado" /></br>
        Cidade: <input type="text" name="cidade" /></br>
        Número:<input type="text" name="numero" /></br>
        Complemento:<input type="text" name="complemento" /></br>

        Senha: <input type="password" name="name" /></br>

        <button type="submit">Cadastrar</button>
    </form>
</body>

</html>