<html>

<body>
    <form action="/new_user" method="POST">
        Name: <input type="text" value="{{name}}" name="name" readonly /></br>
        Email: <input type="text" value="{{email}}" name="email" readonly /></br>
        Telephone: <input type="text" name="telephone" required /></br>

        Street: <input type="text" name="street" required /></br>
        District: <input type="text" name="district" required /></br>
        Code: <input type="text" name="code" required /></br>
        City:<input type="text" name="city" required /></br>
        State: <input type="text" name="state" required /></br>
        Number:<input type="number" name="number" required /></br>
        Complement:<input type="text" name="complement" required /></br>

        Password: <input type="password" name="password" required /></br>

        <button type="submit">REGISTER</button>
    </form>
</body>

</html>